body {
  background: #0f0f0f;
  padding-top: 40px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  font-size: 15px;
}

#nav-text {
  color: #fff;
}

.navbar .navbar-collapse {
  text-align: center;
}

ul.nav a:hover {
  color: #FFCD50 !important;
}

.navbar-default {
  background-color: #333;
  border-color: #333;
  font-family: 'Poppins', sans-serif;
}

.jumbotron {
  background: url(../img/site_showcase_bg.jpg) center fixed;
  background-size: cover;
  color: #fff;
  height: 1300px;
  overflow: none;
  margin-bottom: 0px;
}

#jumbo-content {
  position: relative;
  top: 15%
}

.jumbotron h1 {
  font-family: 'Pacifico', sans-serif;
  font-size: 150px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.jumbotron h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  text-align: center;
  color: #FFCD50;
}

.jumbotron p {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: center;
  color: #fff;
}

ul#networks li{
  display: inline;
  font-size: 50px;
  padding: 0 10px 0 10px;
}

ul#networks {
  text-align: center;
}

a:link {
  color: #fff
}

a:visited {
  color: #fff;
}

.big {
  line-height: 200%;
  font-size: 18px;
  color: #fff;
}

.quotes {
  font-size: 18px;
  color: #fff;
  margin-right: 50px;
}

#moo {
font-family: 'Pacifico', sans-serif;
font-size: 50px;
}

section#about-info {
  background: #333;
  color: #fff;
  padding: 130px 0 130px 0;
  font-family: 'Poppins', sans-serif;
}

img.profile-pic {
  padding: 0;
  margin-top: 20px;
  margin-left: 80px;
  width: 30%;
  border-radius: 200%;
}

#catchphrase {
  margin-top: 50px;
  margin-left: 50px;
  font-family: 'Pacifico', sans-serif;;
  color: #fff;
}

a#resume-button {
  margin-top: 80px;
  padding: 12px 20px;
  background : #5b5b5b;
  color: #fff;
}

i {
  margin-right: 10px;
}

section#contact {
  background: #5b5b5b;
  color: #333;
}

/* =====Skills Section===== */
section#skills{
  background: #fff;
  padding: 120px 0 120px 0;
  font-family: 'Poppins', sans-serif;
}

#skills-left > i {
  color: #333;
  font-size: 120px;
  margin-left: 60px;
}

#skills-left > h1 {
  color: #333;
  font-size: 60px;
  margin-left: 50px;
  margin-top: 5%;
}

#skills-left hr {
  margin-right: 30%;
  color: #333;
}

#skills-left p {
  width: 70%;
  color: #333;
}

#skills-name {
  color: #333;
}

div#html {

}

div#css {

}

div#node {

}

div#javascript {

}

div#jquery {
  background: #ff0066;
}

div#react {
  background: #0099ff;
}

div#angular {

}

#skills > hr {
  width: 55%
}

#edu-left > i {
  color: #333;
  font-size: 130px;
  margin-left: 50px;
}

#edu-left > h1 {
  color: #333;
  font-size: 50px;
  margin-left: 0px;
  margin-top: 5%;
}

#edu-left > hr {
  color: #333;
  margin-right: 30%;
}

#edu-left > p {
  width: 70%;
}

#edu-right {
  line-height: 200%;
  color: #333;
}

#edu-right > h2 {
  text-decoration: underline;
  color: #333;
}

#edu-right > h4 {
  margin-top: 20px;
  font-style: italic;
}
/* =====Skills End===== */

/* =====Works===== */

section#works {
  background: url(../img/works-bg.jpg) center fixed;
  color: #333;
  padding: 120px 0 120px 0;
  font-family: 'Poppins', sans-serif;
}

#works-brand {
  text-align: center;
}

#works-brand > i {
  font-size: 120px;
}

#works-brand > h1 {
  font-size: 60px;
}

#works-info {
  text-align: center;
}

#works-info > div > i {
  font-size: 60px;
  /*padding: 40px 0 20px 100px;*/
}

#works-info > div > h2 {
  /*margin-left: 80px;*/
}

#works-info > div > p {
  width: 80%;
  margin-left: 10%;
}

/* =====End Works===== */

label {
  margin-bottom: 10px;
}

section#contact {
  padding: 120px 0 120px 0;
  background: #515151;
  font-family: 'Poppins', sans-serif;
}

#contact-icon {
  color: #fff;
  font-size: 120px;
  margin-left: 60px;
}

#contact-header{
  color: #fff;
  font-size: 60px;
  margin-left: 10px;
  font-family: 'Pacifico', sans-serif;
}

#contact-hr{
  margin-right: 30%;
}

#contact-p{
  padding-right: 50px;
  color: #fff;
}

.form-group {
  color: #fff;
}

.form-control {
  background-color: #333;
  border-color: #333;
}

footer {
  background: #0f0f0f;
  color: #fff;
  padding: 40px 0 30px 0;
  font-family: 'Poppins', sans-serif;
}

footer li {
  float: left;
  padding: 0 10px 0 10px;
  list-style: none;
}

footer a {
  color: #fff;
}

footer p {
  float: right;
}

#networks-footer {
  margin-left: 30px;
  display: inline-block;
  font-size: 30px;
}
